[mysqld]
# "Server system variable" を記載
# https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html


# MySQL 5.7以降、デフォルトのストレージエンジンがinnodb
# default-storage-engine=InnoDB

# MySQL 5.7以降、行フォーマットのデフォルトはDYNAMIC
# innodb_default_row_format=DYNAMIC

# https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_character_set_server
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci

[mysql]
# "Client Options" を記載
# https://dev.mysql.com/doc/refman/5.7/en/mysql-command-options.html

default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
